<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg9jQGOyEWYEeLLW5V58HRN7A0pvojTAg</string>
	<key>GCM_SENDER_ID</key>
	<string>470953836211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fincax.fin.app</string>
	<key>PROJECT_ID</key>
	<string>thequtrix</string>
	<key>STORAGE_BUCKET</key>
	<string>thequtrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470953836211:ios:25cce8ec8d1a5fd9d7bac6</string>
</dict>
</plist>